.background-section{
    width: 100vw;
    height: 100vh;
    padding-top: 3rem;
}
.logo{
  
    margin-top: 2rem;
    margin-left: 9.5rem;
   
}
.imagenwire{
    margin-top: 12.5rem;
   
}
