/*Body*/
.section-movil{
    max-width: 375px;
    
}
/*------------------*/
.logo{
    padding: 2px;
    margin-top: 5rem;
   
}
.imagenwire{
    margin-top: 22rem;
    width: 350px;
    height:310.44px;
    

}

